<!-- <div class="text-layout">
  <h1>{{nombre | titlecase}}</h1> 
    <h3>{{valor | number}} </h3>
    <h3>{{obj | json}} </h3> 
  </div>

<button
  pButton
  type="button"
  label="Cambiar nombre"
  icon="pi pi-check"
  iconPos="right"
  class="p-button-help"
  (click)="mostrarNombre()"
></button>

<p-card header="{{nombre}}"
  [subheader]="obj | json">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque aperiam mollitia laborum odio perferendis deleniti quae in aliquid numquam, recusandae architecto enim ex repellat dignissimos quis quia consectetur. Omnis, quis.
  
</p-card> -->
<app-menu></app-menu>
<router-outlet></router-outlet>